<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>

    <h1 class="text-center text-dark">Shopping Cart</h1>
    <hr class="hr-2 bg-dark w-75">
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-2 text-center">Image</th>
            <th class="col-md-3 text-center">Name</th>
            <th class="col-md-2 text-center">Description</th>
            <th class="col-md-2 text-center">Price</th>
            <th class="col-md-1 text-center">Quantity</th>
            <th class="col-md-2 text-center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">
            <tr class="row mx-auto">
                <th class="col-md-2 text-center"><img th:src="*{image}" alt="Product" height="150" width="150"></th>
                <td class="col-md-3 text-center" th:text="*{name}"></td>
                <td class="col-md-2 text-center" th:text="*{description}"></td>
                <td class="col-md-2 text-center" th:text="*{price}"></td>
                <td class="col-md-1 text-center" th:text="*{quantity}"></td>
                <td class="col-md-2 text-center">
                    <form th:action="@{/cart/remove-product}" th:method="delete">
                        <div class="button-holder d-flex justify-content-center">
                            <input type="hidden" name="id" th:value="*{id}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </div>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <hr class="hr-2 bg-dark">
    <div class="text-center">
        <h3 th:text="|Total: ${#session.getAttribute('total-sum')}|"></h3>
    </div>
    <form th:action="@{/order/details}" th:method="post">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Order</button>
        </div>
    </form>
    
    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>