<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>

    <h1 class="text-center text-dark">Details Product</h1>
    <hr class="hr-2 bg-dark w-25">
    <div class="jumbotron bg-light text-center">
        <div class="text-center">
            <img th:src="${product.image}" width="250" height="250" alt="Product">
        </div>
        <div class="row">
            <div class="col col-md-12 mt-5">
                <h3 th:text="'Name: ' + ${product.name}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 mt-3">
                <h2 th:text="'Desciption: ' + ${product.description}"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <h2 th:text="'Price: ' + ${product.price}"></h2>
            </div>
        </div>
        <div class="row">
            <form class="form w-25 mx-auto" th:action="@{/cart/my/{id}(id=${product.id})}" th:method="post">
                
                <button type="submit" class="btn btn-success">Order Product</button>
            </form>
        </div>
    </div>

    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>