<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>

    <h1 class="text-center text-dark">Add Address</h1>
    <hr class="hr-2 bg-dark w-25">
    <form id="add-product-form" class="form w-25 mx-auto" th:action="@{/addresses/add}" method="post"
          enctype="multipart/form-data" th:object="${addAddressBindingModel}">
        
        <div class="form-group">
            <label for="add-address-city" class="font-weight-bold">City</label>
            <input type="text" class="form-control text-center" id="add-address-city" name="city">
            <small th:each="error : ${#fields.errors('city')}" th:text="${error}"></small>
        </div>
        <div class="form-group">
            <label for="add-address-street" class="font-weight-bold">Street</label>
            <input type="text" class="form-control text-center" id="add-address-street" name="street">
            <small th:each="error : ${#fields.errors('street')}" th:text="${error}"></small>
        </div>
        <div class="form-group">
            <label for="add-address-number" class="font-weight-bold">Number</label>
            <input type="text" class="form-control text-center" id="add-address-number" name="number">
            <small th:each="error : ${#fields.errors('number')}" th:text="${error}"></small>
        </div>
        <div class="form-group">
            <label for="add-address-postCode" class="font-weight-bold">Post Code</label>
            <input type="text" class="form-control text-center" id="add-address-postCode" name="postCode">
            <small th:each="error : ${#fields.errors('postCode')}" th:text="${error}"></small>
        </div>
        <div class="form-group">
            <label for="add-address-phoneNumber" class="font-weight-bold">Phone Number</label>
            <input type="text" class="form-control text-center" id="add-address-phoneNumber" name="phoneNumber">
            <small th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}"></small>
        </div>
        
        <hr class="hr-2 bg-dark w-25">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Add Address</button>
        </div>
    </form>

    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
<script src="/js/fetchCategoriesToSelectOption.js"></script>
</html>