<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>

    <h1 class="text-center text-dark">Edit Address</h1>
    <hr class="hr-2 bg-dark w-25">
    <form id="edit-address-form" class="form w-25 mx-auto" th:action="@{/addresses/edit/{id}(id=${model.id})}" method="post"
          enctype="multipart/form-data">

        <div class="form-group">
            <label for="edit-address-city" class="font-weight-bold">City</label>
            <input type="text" class="form-control text-center" id="edit-address-city" name="city" th:value="${model.city}" >
        </div>
        <div class="form-group">
            <label for="edit-address-street" class="font-weight-bold">Street</label>
            <input type="text" class="form-control text-center" id="edit-address-street" name="street" th:value="${model.street}" >
        </div>
        <div class="form-group">
            <label for="edit-address-number" class="font-weight-bold">Number</label>
            <input type="text" class="form-control text-center" id="edit-address-number" name="number" th:value="${model.number}" >
        </div>
        <div class="form-group">
            <label for="edit-address-postCode" class="font-weight-bold">Post Code</label>
            <input type="text" class="form-control text-center" id="edit-address-postCode" name="postCode" th:value="${model.postCode}" >
        </div>
        <div class="form-group">
            <label for="edit-address-phoneNumber" class="font-weight-bold">Phone Number</label>
            <input type="text" class="form-control text-center" id="edit-address-phoneNumber" name="phoneNumber" th:value="${model.phoneNumber}" >
        </div>

        <hr class="hr-2 bg-dark w-25">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Edit Address</button>
        </div>
    </form>

    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>