<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    
</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/guest-navbar}"></th:block>
    <hr class="pc-store hr-2"/>
    
    <div class="row mb-4 index-container">
        <th:block th:each="category: ${categories}" >
            <div class="print-scheduled pc-store rounded">
                <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${category.name}"></h5>
                <div class="text-center">
                    <img th:src="${category.image}" width="40" height="40" alt="Category">
                </div>
                <hr class="bg-white">
                <button type="button"  class="btn btn-success font-weight-bold text-white" data-toggle="modal" data-target="#mymodal" th:value="${category.name}">Info</button>
            </div>
        </th:block>
        
    </div>
        
    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>