<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<div class="container-fluid">
    <main class="mt-3">
        <hr class="pc-store hr-2"/>
        <h1 class="text-center text-pcstore">Login</h1>
        <hr class="pc-store w-25 hr-2"/>
        <form class="mx-auto w-25" th:action="@{/users/login}" method="post">
            <div class="form-group">
                <label for="username" class="text-pcstore">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username..." name="username">
            </div>
            <div class="form-group">
                <label for="password" class="text-pcstore">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
            </div>
            <hr class="pc-store hr-2"/>
            <div class="button-holder mt-4 d-flex justify-content-center">
                <button type="submit" class="btn pc-store text-white">Login</button>
            </div>
        </form>
        <hr class="pc-store hr-2 mt-5"/>
    </main>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>