<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>
    <h1 class="text-center text-dark">All Categories</h1>
    <hr class="hr-2 bg-dark w-75">
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            
            <th class="col-md-1 text-center">Name</th>
            <th class="col-md-2 text-center">Image</th>
            <th class="col-md-3 text-center">Actions</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="category : ${categories}">
            <tr class="row mx-auto">
                <td class="col-md-1 text-center" th:text="${category.name}"></td>
                <td class="col-md-2">
                    <div class="text-center">
                        <img th:src="${category.image}" width="40" height="40" alt="Category">
                    </div>
                </td>
                <td class="col-md-3 text-center">
                    <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-success font-weight-bold text-white">Edit</a>
                    <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger font-weight-bold text-white">Delete</a>
                </td>
            </tr>
        </th:block>


        </tbody>
    </table>
    </div>

    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>