<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>
    <h3 th:text="${category}"></h3>
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-3 text-center">Image</th>
            <th class="col-md-3 text-center">Name</th>
            <th class="col-md-3 text-center">Price</th>
            <th class="col-md-3 text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product, iter : ${products}">
            <tr class="row mx-auto">
                <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                <td class="col-md-1"><div class="text-center"><img th:src="${product.image}" width="40" height="40" alt="Product"></div></td>
                <td class="col-md-3 text-center" th:text="${product.name}"></td>
                <td class="col-md-2 text-center" th:text="${product.price}"></td>
                <td class="col-md-3 text-center">
                    <a th:href="@{/products/details/{id}(id=${product.id})}" class="btn btn-secondary font-weight-bold text-white">Details</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>