<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>

<div class="container-fluid">
    <th:block th:include="~{fragments/user-navbar}"></th:block>
    <hr class="pc-store hr-2"/>
    <h1 class="text-center text-dark">Delete Category</h1>
    <hr class="hr-2 bg-dark w-25">
    <form id="delete-category-form" class="form w-25 mx-auto" th:action="@{/categories/delete/{id}(id=${model.id})}" method="post">
        <div class="form-group">
            <label for="delete-category-name" class="font-weight-bold">Name</label>
            <input type="text" class="form-control text-center" id="delete-category-name" name="name" th:value="${model.name}" readonly>
        </div>
        <div class="form-group">
            <label for="delete-category-description" class="font-weight-bold">Description</label>
            <textarea type="text" class="form-control text-center" id="delete-category-description" name="description" th:value="${model.description}" th:text="${model.description}" readonly></textarea>
        </div>
        <hr class="hr-2 bg-dark">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info">Delete Category</button>
        </div>
    </form>
    <hr class="pc-store hr-2"/>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>